body{
  background-color: gray;
  /* background: url(); */
}

div{
  background: yellow;
  border-color: blue;
  border-width: 5px;
  border-style: dotted;
}

p{
  color: black;
}

span{
  background: red;
  color: orange;
}
